<div class="ui">
  <h2>Demo Form: Sku</h2>  
  <form [formGroup]="myForm"
        (ngSubmit)="onSubmit(myForm.value)">

    <div class="field">

      <label for="productNameInput">Product Name</label>
      <input type="text" 
              id="productNameInput" 
              placeholder="Product Name" 
              name="productName"              
      >

      <label for="skuInput">SKU</label>
      <input id="skuInput" 
              type="text" 
              placeholder="SKU" 
              [formControl]="sku"
              [class.error]="myForm.controls['sku'].hasError('required') && 
                            myForm.controls['sku'].touched"
      >
      
                            
      <div *ngIf="myForm.controls['sku'].touched && 
                  !myForm.controls['sku']">
        SKU is invalid
      </div>
      <div *ngIf="myForm.controls['sku'].touched && 
                  myForm.controls['sku'].hasError('required')"
      >
        SKU is required
      </div>
    </div>
    
    <div *ngIf="myForm.touched && 
                !myForm.valid"
    >
      Form is invalid
    </div>
    <div *ngIf="sku.hasError('invalidSku')">
      <p>SKU must start with begin with "123"</p>
    </div
    >
    <button type="submit">
      Submit
    </button>
    <p id=submit-hint>*your submission will be logged in the console </p>
  </form>
</div>