<div class="ui">
  <h2>Demo Form: Sku</h2>  
  <form [formGroup]="myForm"
        (ngSubmit)="onSubmit(myForm.value)">

    <div class="field">
      <label for="skuInput">SKU</label>
      <input id="skuInput" 
              type="text" 
              placeholder="SKU" 
              [formControl]="sku"
              [class.error]="myForm.controls['sku'].hasError('required') && 
                            myForm.controls['sku'].touched">
      <p>*you submission must start with "123"</p>
      <div *ngIf="myForm.controls['sku'].touched && 
                  !myForm.controls['sku']">
        SKU is invalid
      </div>
      <div *ngIf="myForm.controls['sku'].touched && 
                  myForm.controls['sku'].hasError('required')"
      >
        SKU is required
      </div>
    </div>
  
    <div *ngIf="myForm.touched && !myForm.valid">Form is invalid</div>
    <button type="submit">
      Submit
    </button>
    <p id=submit-hint>*your submission will be logged in the console </p>
  </form>
</div>