<div class="ui">
  <h2>Demo Form: Sku</h2>
  <form [formGroup]="myForm"
        (ngSubmit)="onSubmit(myForm.value)"
        [class.error]="!myForm.valid && myForm.touched">

    <div class="field"
          [class.error]="!sku.valid && sku.touched">
      <label for="skuInput">SKU</label>
      <input id="skuInput" 
              type="text" 
              placeholder="SKU" 
              [formControl]="sku">
      <div *ngIf="!sku.valid">SKU is invalid</div>
      <div *ngIf="sku.hasError('required')">SKU is required</div>
    </div>
  
    <div *ngIf="!myForm.valid">Form is invalid</div>
    <button type="submit">Submit</button>
    <p>*your submission will be logged in the console </p>
  </form>
</div>